<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grid</title>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core@next/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core@next/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core@next/css/ionic.bundle.css"/>
  <style>
    ion-item.side_tabs.item:hover {
  --ion-background-color: #a179d5 !important;
  border-radius: 4px;
    }
    ion-item.active.item:hover {
  --ion-background-color: #b88eed !important;
  border-radius: 4px;
    }
    ion-item.side_tabs{
        --ion-background-color: #8f15f4;
        border-radius: 4px;
        margin-top: 4px;
    }
    ion-item.active
    {
    --ion-background-color: #b88eed;
        border-radius: 4px; 
    }
    ion-list.side_list
    {
        --ion-background-color: #8f15f4;
    }
    .side_icons
    {
        font-size: 25px; color: white; margin-top: 15px
    }
    .side_label
    {
        position: relative; left: 15px;bottom: 5px; color: white; font-size: 14px
    }
    a.navlink:hover
    {
        color: black;
    }
    a.navlink
    {
        color: grey;
    }

  </style>
</head>
<body>
  <ion-app>
      <ion-content>
      
      <ion-grid class="ion-no-padding">
        <ion-row  style="height: 1000px">
            <ion-col class="ion-no-padding" size='2.035' style="background-color: #8f15f4;">
                <ion-row style="height: 63px">
                    <ion-col style="border-bottom: 1px solid rgba(255, 255, 255, 0.2)">
                        <label style="position: relative; left: 45px; top: 20px; weight: 500; font-weight: 400; font-size: 18px; color: white;">STUDENT DASHBOARD</label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-list class="side_list" class="ion-no-padding" style="margin-top: 20px; margin-left: 15px; margin-right: 15px">
                            <ion-item lines='none' class="side_tabs" onClick="viewOption(event,'profile')" id="defaultOpen">
                                <div style="height: 57px;">
                                    <a>
                                        <ion-icon name="person-outline" class="side_icons"></ion-icon>
                                        <label class="side_label">PROFILE</label>
                                    </a>
                                </div>
                            </ion-item>
                            <ion-item lines='none' class="side_tabs" onClick="viewOption(event,'extra')">
                                <div style="height: 57px;">
                                    <a>
                                        <ion-icon name="beer-outline" class="side_icons"></ion-icon>
                                        <label class="side_label">EXTRAS</label>
                                    </a>
                                </div>
                            </ion-item>
                            <ion-item lines='none' class="side_tabs" onClick="viewOption(event,'guests')">
                                <div style="height: 57px;">
                                    <a>
                                        <ion-icon name="people-outline" class="side_icons"></ion-icon>
                                        <label class="side_label">GUESTS</label>
                                    </a>
                                </div>
                            </ion-item>
                            <ion-item lines='none' class="side_tabs" onClick="viewOption(event,'messcut')">
                                <div style="height: 57px;">
                                    <a>
                                        <ion-icon name="home-outline" class="side_icons"></ion-icon>
                                        <label class="side_label">MESS CUT</label>
                                    </a>
                                </div>
                            </ion-item>
                        
                            <ion-item lines='none' class="side_tabs"  onClick="viewOption(event,'fee')">
                                <div style="height: 57px;">
                                    <a>
                                        <ion-icon name="newspaper-outline" class="side_icons"></ion-icon>
                                        <label class="side_label">CHECK MESS FEE</label>
                                    </a>
                                </div>
                            </ion-item>

                        </ion-list>
                
                    </ion-col>
                </ion-row>

            </ion-col>
            <ion-col>
                <ion-row style="height: 63px; border-bottom: 1px solid rgba(0, 0, 0, 0.2)">
                    <ion-col size='3'>
                        <label style="position: relative; left: 45px; top: 20px; weight: 500; font-weight: 400; font-size: 19px; color: grey">MESS MANAGEMENT</label>
                    </ion-col>
                    <ion-col offset='6' size='3'>
                        <a style="color: grey; position: relative; left: 45px; top: 20px; font-size: 16px;">Change Password</a>
                        <a class="navlink" href="/accounts/logout" style="text-decoration:none; position: relative; left: 75px; top: 20px; font-size: 16px;">Logout</a>
                    </ion-col>
                </ion-row>
                <ion-row style="height: 1000px">
                    <ion-col>
                        <div>
                    
                

                    <div id="profile" class="tabcontent" style="display:none;position: absolute;left: 100px">
                        <h1 style="position: relative;left:50px">Personal Information</h1>
                        <br>
                        
                       <fieldset style="width:500px">
                         <br>

                         <ion-row>
                           
                            <ion-col>
                             <ion-row text:center> 
                                    <ion-col>
                                        <b>Name</b>
                                    </ion-col>
                                    <ion-col>
                                        :
                                    </ion-col>
                                    <ion-col>
                                        <%= @student.name%></p>
                                    </ion-col>
                                </ion-row>
                                <ion-row > 
                                    <ion-col>
                                        <b>Roll No</b>
                                    </ion-col>
                                    <ion-col>
                                        :
                                    </ion-col>
                                    <ion-col>
                                        <%= @student.rollno%></p>
                                    </ion-col>
                                </ion-row>
                                <ion-row > 
                                    <ion-col>
                                        <b>E-Mail</b>
                                    </ion-col>
                                    <ion-col>
                                        :
                                    </ion-col>
                                    <ion-col>
                                        <%= @student.email%></p>
                                    </ion-col>
                                </ion-row>
                                <ion-row > 
                                    <ion-col>
                                        <b>Enrolled Mess Code</b>
                                    </ion-col>
                                    <ion-col>
                                        :
                                    </ion-col>
                                    <ion-col>
                                        <%= @student.mess_id%></p>
                                    </ion-col>
                                </ion-row>
                                <ion-row > 
                                    <ion-col>
                                        <b>Room No</b>
                                    </ion-col>
                                    <ion-col>
                                        :
                                    </ion-col>
                                    <ion-col>
                                        <%= @student.roomno%></p>
                                    </ion-col>
                                </ion-row>
                            </ion-col>
                        </ion-row>
                        </fieldset>
                    </div>

                    <div id="guests" class="tabcontent" style="display:none;">
                    <h3>Guests</h3>
                    <p>Guests data goes here</p> 
                    </div>

                    <div id="staff_list" class="tabcontent" style="display:none;">
                    <h3>Staff List</h3>
                    <p>List of all staff goes here</p> 
                    </div>

                    <div id="messcut" class="tabcontent" style="display:none;">
                    <h3>Mess Cut</h3>
                    <p>Mess cut data goes here</p>
                    </div>
                    <div id="extra" class="tabcontent" style="display:none;">
                    <h3>Extras</h3>
                    <p>Extra data goes here</p>
                    </div>
                    <div id="fee" class="tabcontent" style="display:none;">
                    <h3>Fee</h3>
                    <p>Updates about mess fee happens here</p>
                    </div>
                </div>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-app>
</body>
<script>
function viewOption(evt, option) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("side_tabs");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace("active", "");
  }
  evt.currentTarget.className += " active";
  document.getElementById(option).style.display = "block";  
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();

</script>
</html>
